jms_service/target/classes/jms_service.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <jms:activemq-connector name="Active_MQ" username="admin" password="admin" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ"/>
    <jms:activemq-connector name="Active_MQ1" username="admin" password="admin" brokerURL="tcp://localhost:61616" validateConnections="true" doc:name="Active MQ"/>
    <flow name="jms_serviceFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/jms" allowedMethods="POST" doc:name="HTTP"/>
        <jms:outbound-endpoint queue="jojo" connector-ref="Active_MQ" doc:name="JMS">
            <jms:transaction action="NONE"/>
        </jms:outbound-endpoint>
        <set-payload value="#[payload] data is set" doc:name="Set Payload"/>
    </flow>
    <flow name="jms_serviceFlow">
        <jms:inbound-endpoint queue="jojo" connector-ref="Active_MQ1" doc:name="JMS"/>
        <file:outbound-endpoint path="C:\Users\EAI\AnypointStudio\workspace\jms_service\src\test\resources\out" responseTimeout="10000" doc:name="File"/>
    </flow>
</mule>
